* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html {
  font-size: 62.5%;
}

.container {
  background-color: hsl(233, 47%, 7%);
  width: 100vw;
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  background-color: hsl(244, 37%, 16%);
  width: 30%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 5rem;
}
.left h1 {
  margin-bottom: 1.9rem;
  font-size: 2.7rem;
  color: hsl(0, 0%, 100%);
}
.left h1 span {
  color: hsl(277, 64%, 61%);
}
.left p {
  margin-bottom: 3rem;
  font-size: 1rem;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.7rem;
  font-weight: 200;
}
.rating {
  width: 93%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.rating p strong {
  font-size: 1.7rem;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}
.rating p {
  text-transform: uppercase;
  font-weight: 200;
}
.right {
  width: 30%;
  height: 60%;
  background: hsl(277, 64%, 61%);
}
.right img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  mix-blend-mode: multiply;
  opacity: 0.7;
}
.attribution {
  font-size: 11px;
  text-align: center;
  background-color: rgb(35, 76, 112);
  color: hsla(0, 0%, 100%, 0.75);
  height: 1.58rem;
}
.attribution a {
  color: hsl(277, 100%, 77%);
}
@media (max-width: 77.0625rem) {
  .left {
    padding: 2rem;
  }
}

@media (max-width: 48.125rem) {
  .left {
    padding: 2rem;
    width: 40%;
  }
  .left h1 {
    font-size: 2rem;
  }
  .left p {
    font-size: 1.2rem;
  }
  .vanish {
    display: none;
  }
  .right {
    width: 40%;
  }
}
@media (max-width: 26.875rem) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .left {
    padding: 2rem;
    width: 80%;
    text-align: center;
  }
  .left h1 {
    font-size: 3rem;
  }
  .left p {
    font-size: 1.2rem;
  }
  .rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .vanish {
    display: none;
  }
  .right {
    width: 80%;
    margin-top: 2rem;
    border-radius: 1rem 1rem 0 0;
  }
  .attribution {
    height: auto;
  }
}
